<h1>About the Student Information System</h1>
<p>This Student Information System (SIS) was created in 2018 by a rising developer that goes by the name Muna. The inspiration for SIS came from Muna's professor who introduced her to the genius of Sinatra, the singer and framework.</p>

<p>SIS provides users with information of all the students in the system. This information includes the student's: first name, last name, id number, birthday and address. I low key think this violates FERPA... Anyways, SIS also provides a platform for users to enter comments about students. I personally think that is a bad idea because this provides a platform for bullies. To share the little bits of our students lives, we have videos for our users to view</p>
