<h1>Enter your comment here</h1>
<form action="/comment" id="commentform" method='post'>
	Commenter Name: <input type='text' name='name' required></input><br><br><br>
	<textarea rows ="5" cols="60" name="comment" form="commentform" placeholder="Enter comment here..." required></textarea><br><br>
	<input type="submit">
</form>


