<center><h1>Welcome to the Student Information System</h1></center>
<p>
This system provides the following
</p>
<ul>
	<li>Information about the system in out <a href="/about">About</a> page</li>
	<li>List of Students on our <a href="/students">Student</a> page. You can click on a student to view their information;.</li>
	<li>You can view and add comments on our <a href="/comment">Comment</a> page</li>
	<li>Video by one of our students for you to enjoy in our <a href="/video">Video</a> page </li>
	<li>Contact information for the team who maintains the Student Information System is available in the <a href="/contact">Contact</a> page</li>
</ul>
